.container{
    background-color: lightgray;
    height: 100vh;
    position: relative;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.title {
    font-family: cursive;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    color:rgb(197, 153, 87);
}
p{
    color:rgb(155, 128, 87);
}
footer{
    font-family: cursive;
    font-size: 15px;
    color: rgb(154, 64, 52);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}